language: python
python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - pypy
  - pypy3
install:
  - pip install -e .[test]
  - pip install coverage coveralls
script:
  - nosetests --with-coverage
after_success:
  - coveralls --rcfile=coverage.rc
