<!DOCTYPE html>
<html>
<head>
    <meta name="csrf-token" content="{{ csrf_token() }}">    
    <title>{{ title }}</title>
    {% include 'swagger-ui-css.html' %}
    {% include 'swagger-ui-libs.html' %}
    <script type="text/javascript">
        $(function () {
            // Performance tuning for Highlight.js
            hljs.configure({
                highlightSizeThreshold: 5000
            });

            {% if config.SWAGGER_UI_LANGUAGES %}
            // Pre load translate...
            if(window.SwaggerTranslator) {
                window.SwaggerTranslator.translate();
            }
            {% endif %}

            window.swaggerUi = new SwaggerUi({
                url: "{{ specs_url }}",
                validatorUrl: "{{ config.SWAGGER_VALIDATOR_URL }}" || null,
                dom_id: "swagger-ui-container",
                supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
                authorizations: {
                  csrfInterceptor: function() {
                    // This function will get called /before/ each request
                    // ... UNLESS you have a 'security' tag in the swagger.json file, 
                    // ... in which case you must add 'csrfInterceptor' to the list of auths.
                    var csrftoken = $('meta[name=csrf-token]').attr('content')
                    this.headers['X-CSRFToken'] = csrftoken; 
                    return true; 
                      // there is a bug, fixed but not in develop_2.0 of swagger-ui.js where returning true will only 
                      //   process _one_ interceptor This works if it's your only interceptor and 
                      //   when the fix is in, it'll work as expected for more than one...
                  }
                }, 
                onComplete: function(swaggerApi, swaggerUi){
                    if(typeof initOAuth == "function") {
                        {% if config.SWAGGER_UI_OAUTH_CLIENT_ID -%}
                            initOAuth({
                                clientId: "{{ config.SWAGGER_UI_OAUTH_CLIENT_ID }}",
                                realm: "{{ config.SWAGGER_UI_OAUTH_REALM }}",
                                appName: "{{ config.SWAGGER_UI_OAUTH_APP_NAME }}"
                            });
                        {%- endif %}
                    }

                    {% if config.SWAGGER_UI_LANGUAGES %}
                    if (window.SwaggerTranslator) {
                        window.SwaggerTranslator.translate();
                    }
                    {% endif %}

                    $('pre code').each(function(i, e) {
                        hljs.highlightBlock(e)
                    });
                },
                onFailure: function(data) {
                    log("Unable to Load SwaggerUI");
                },
                jsonEditor: {{ config.SWAGGER_UI_JSONEDITOR | default(False) | string | lower }},
                docExpansion: "{{ config.SWAGGER_UI_DOC_EXPANSION | default('none') }}"
            });
            window.swaggerUi.load();

            function log() {
                if ('console' in window) {
                    console.log.apply(console, arguments);
                }
            }
        });
    </script>
</head>

<body class="swagger-section">
    <div class="swagger-ui-wrap"><div id="auth_container"></div></div>
    <div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
    <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>
</html>
