<script src="{{ swagger_static('lib/object-assign-pollyfill.js') }}" type="text/javascript"></script>
<script src="{{ swagger_static('lib/jquery-1.8.0.min.js') }}" type="text/javascript"></script>
<script src="{{ swagger_static('lib/jquery.slideto.min.js') }}" type="text/javascript"></script>
<script src="{{ swagger_static('lib/jquery.wiggle.min.js') }}" type="text/javascript"></script>
<script src="{{ swagger_static('lib/jquery.ba-bbq.min.js') }}" type="text/javascript"></script>
<script src="{{ swagger_static('lib/handlebars-4.0.5.js') }}" type="text/javascript"></script>
<script src="{{ swagger_static('lib/lodash.min.js') }}" type="text/javascript"></script>
<script src="{{ swagger_static('lib/backbone-min.js') }}" type="text/javascript"></script>
{% if config.DEBUG %}
<script src="{{ swagger_static('swagger-ui.js') }}" type="text/javascript"></script>
{% else %}
<script src="{{ swagger_static('swagger-ui.min.js') }}" type="text/javascript"></script>
{% endif %}
<script src="{{ swagger_static('lib/highlight.9.1.0.pack.js') }}" type="text/javascript"></script>
<script src="{{ swagger_static('lib/highlight.9.1.0.pack_extended.js') }}" type="text/javascript"></script>
<script src="{{ swagger_static('lib/jsoneditor.min.js') }}" type='text/javascript'></script>
<script src="{{ swagger_static('lib/marked.js') }}" type="text/javascript"></script>

<!-- enabling this will enable oauth2 implicit scope support -->
<script src="{{ swagger_static('lib/swagger-oauth.js') }}" type="text/javascript"></script>

{% if config.SWAGGER_UI_LANGUAGES %}
<script src="{{ swagger_static('lang/translator.js') }}" type='text/javascript'></script>
{% for lang in config.SWAGGER_UI_LANGUAGES %}
{% set filename = 'lang/{0}.js'.format(lang) %}
<script src="{{ swagger_static(filename) }}" type='text/javascript'></script>
{% endfor%}
{% endif %}
