<link media="screen" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/typography.css') }}" />
<link media="screen" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/reset.css') }}" />
<link media="screen" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/screen.css') }}" />
<link media="print" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/reset.css') }}"/>
<link media="print" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/screen.css') }}" />
